.filtersGrid {
  grid-column: span 3 / span 3;
}

.filtersSticky {
  position: sticky;
  top: var(--size-4);
}

.fixedAsideButtons {
  position: fixed;
  bottom: var(--size-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-2);
}
