@import "open-props/style";

.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--size-4);
}

.header {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--size-4);
}

.title {
  grid-column: span 9 / span 9;
  text-align: right;
  padding: var(--size-4) 0;
}
