.googleButton {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
  width: fit-content !important;
  font-size: 13px !important;
  height: 40px !important;
}

.avatarButton {
  width: var(--size-8);
  height: var(--size-8);
  background-size: cover;
  border-radius: var(--radius-blob-3);
  cursor: pointer;
}

.avatarMenu {
  margin-top: var(--size-3) !important;
  border: 1px solid var(--gray-2);
  background-image: var(--gradient-23);
  padding: var(--size-6);
  border-radius: var(--radius-2);
  filter: saturate(0.3);
}

.avatarMenuItem {
  cursor: pointer;
  font-size: var(--font-size-0);
  color: var(--gray-2);
  list-style-type: none;
}
